# Web Framework
flask
flask-cors

--extra-index-url https://download.pytorch.org/whl/cpu
--only-binary torch

# Data Processing
pandas
numpy

# Machine Learning
scikit-learn
lightgbm
xgboost
joblib

# Deep Learning
torch==2.8.0

# Data Visualization
matplotlib
tqdm

# StatsBomb Data
statsbombpy

# HTTP Requests
requests

# Environment Variables
python-dotenv
